name: Docker Image CI

on:
  push:
    branches:
      - dev
      - stage
      - main
      - master
  repository_dispatch:
    types: [build]
  workflow_dispatch:
    inputs:
      image:
        description: 'Which image to build (all, backend_code, frontend_code, nginx, nginx-proxy, letsencrypt)'
        required: true
        default: 'all'

jobs:
  setup:
    # This job runs on a self-hosted runner.
    # Ensure your self-hosted runner has Docker installed and can handle multiple concurrent jobs.
    runs-on: self-hosted
    outputs:
      version: ${{ steps.semver.outputs.version }}
    steps:
      # Checking out the repository.
      # If the workflow is triggered by repository dispatch, use the SHA from client payload.
      # For other events, checkout the code from the triggered ref.
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          repository: 'thatdevopsguyy/albatroz-admin-angular-node'
          ref: ${{ github.event.client_payload.sha || github.ref }}

      # Calculating a semantic version based on the number of commits.
      - name: Get semantic version
        id: semver
        run: echo "version=$(git rev-list --count HEAD).0.0" >> $GITHUB_ENV

      # Logging in to Azure Container Registry.
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

  # The following jobs build and push Docker images.
  # Each job represents a component of your application and runs only if the corresponding image is requested to be built.
  # These jobs can potentially run in parallel if their dependency (setup job) is done and their 'if' condition is met.
  # This is based on the availability of the runners.
  # If you're using a self-hosted runner, make sure it can handle the workload of multiple concurrent jobs.
  build_backend:
    needs: setup
    runs-on: self-hosted
    if: github.event.inputs.image == 'all' || github.event.inputs.image == 'backend_code' || github.event_name == 'push'
    outputs:
      completed: ${{ steps.build.outputs.success }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}  

      - name: Build and push Backend Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-backend_code:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-backend_code:latest ./backend_code
          docker push kishorecr.azurecr.io/albatroz-backend_code:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-backend_code:latest

      - name: List Backend Docker image
        run: |
          echo "Backend Docker image:"
          docker images kishorecr.azurecr.io/albatroz-backend_code:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"          

  build_frontend:
    needs: setup
    runs-on: self-hosted
    if: github.event.inputs.image == 'all' || github.event.inputs.image == 'frontend_code' || github.event_name == 'push'
    outputs:
      completed: ${{ steps.build.outputs.success }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }} 
      - name: Build and push Frontend Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-frontend_code:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-frontend_code:latest ./frontend_code
          docker push kishorecr.azurecr.io/albatroz-frontend_code:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-frontend_code:latest
          
      - name: List Frontend Docker image
        run: |
          echo "Frontend Docker image:"
          docker images kishorecr.azurecr.io/albatroz-frontend_code:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"          

  build_nginx:
    needs: setup
    runs-on: self-hosted
    if: github.event.inputs.image == 'all' || github.event.inputs.image == 'nginx' || github.event_name == 'push'
    outputs:
      completed: ${{ steps.build.outputs.success }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }} 

      - name: Build and push Nginx Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-nginx:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-nginx:latest ./nginx
          docker push kishorecr.azurecr.io/albatroz-nginx:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-nginx:latest

      - name: List Nginx  Docker image
        run: |
          echo "Nginx  Docker image:"
          docker images kishorecr.azurecr.io/albatroz-nginx:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"          

  build_nginx_proxy:
    needs: setup
    runs-on: self-hosted
    if: github.event.inputs.image == 'all' || github.event.inputs.image == 'nginx-proxy' || github.event_name == 'push'
    outputs:
      completed: ${{ steps.build.outputs.success }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }} 

      - name: Build and push Nginx Proxy Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-nginx-proxy:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-nginx-proxy:latest ./nginx-proxy
          docker push kishorecr.azurecr.io/albatroz-nginx-proxy:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-nginx-proxy:latest

      - name: List Nginx Proxy Docker image
        run: |
          echo "Nginx Docker Proxy image:"
          docker images kishorecr.azurecr.io/albatroz-nginx-proxy:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"          

  build_letsencrypt:
    needs: setup
    runs-on: self-hosted
    if: github.event.inputs.image == 'all' || github.event.inputs.image == 'letsencrypt' || github.event_name == 'push'
    outputs:
      completed: ${{ steps.build.outputs.success }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }} 

      - name: Build and push LetsEncrypt Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-letsencrypt:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-letsencrypt:latest ./letsencrypt
          docker push kishorecr.azurecr.io/albatroz-letsencrypt:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-letsencrypt:latest  

      - name: List LetsEncrypt Docker image
        run: |
          echo "LetsEncrypt Docker image:"
          docker images kishorecr.azurecr.io/albatroz-letsencrypt:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"          
          
