name: Docker Image Build & Stage Deploy CI

on:
  push:
    branches:
      - dev
      - stage
      - main
      - master
  pull_request:
    types:
      - opened
      - synchronize    
  repository_dispatch:
    types: [build]
  workflow_dispatch:
    inputs:
      image:
        description: 'Which image to build (all, backend_code, frontend_code, nginx, nginx-proxy, letsencrypt)'
        required: true
        default: 'all'

jobs:
  setup:
    runs-on: self-hosted
    outputs:
      version: ${{ steps.semver.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          repository: 'thatdevopsguyy/albatroz-admin-angular-node'
          ref: ${{ github.event.client_payload.sha || github.ref }}

      - name: Get semantic version
        id: semver
        run: echo "::set-output name=version::$(git rev-list --count HEAD).$(date +'%Y%m%d%H%M%S')"

      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

  build_backend:
    needs: setup
    runs-on: self-hosted
    if: (github.event.inputs.image == 'all' || github.event.inputs.image == 'backend_code' || github.event_name == 'push' || github.event_name == 'repository_dispatch')
    outputs:
      completed: ${{ needs.setup.outputs.completed }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}  

      - name: Delete old Backend Docker image
        run: |
          docker login kishorecr.azurecr.io --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }}
          docker image rm kishorecr.azurecr.io/albatroz-backend_code:latest || true

      - name: Build and push Backend Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-backend_code:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-backend_code:latest ./backend_code
          docker push kishorecr.azurecr.io/albatroz-backend_code:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-backend_code:latest

      - name: List Backend Docker image
        run: |
          echo "Backend Docker image:"
          docker images kishorecr.azurecr.io/albatroz-backend_code:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"
          docker images kishorecr.azurecr.io/albatroz-backend_code:latest --format "repository:tag: {{.Repository}}:{{.Tag}}"

  build_frontend:
    needs: setup
    runs-on: self-hosted
    if: (github.event.inputs.image == 'all' || github.event.inputs.image == 'frontend_code' || github.event_name == 'push' || github.event_name == 'repository_dispatch')
    outputs:
      completed: ${{ needs.setup.outputs.completed }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }} 
      - name: Delete old Frontend Docker image
        run: |
          docker login kishorecr.azurecr.io --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }}
          docker image rm kishorecr.azurecr.io/albatroz-frontend_code:latest || true

      - name: Build and push Frontend Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-frontend_code:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-frontend_code:latest ./frontend_code
          docker push kishorecr.azurecr.io/albatroz-frontend_code:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-frontend_code:latest
          
      - name: List Frontend Docker image
        run: |
          echo "Frontend Docker image:"
          docker images kishorecr.azurecr.io/albatroz-frontend_code:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"
          docker images kishorecr.azurecr.io/albatroz-frontend_code:latest --format "repository:tag: {{.Repository}}:{{.Tag}}"

  build_nginx:
    needs: setup
    runs-on: self-hosted
    if: (github.event.inputs.image == 'all' || github.event.inputs.image == 'nginx' || github.event_name == 'push' || github.event_name == 'repository_dispatch')
    outputs:
      completed: ${{ needs.setup.outputs.completed }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }} 

      - name: Delete old Nginx Docker image
        run: |
          docker login kishorecr.azurecr.io --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }}
          docker image rm kishorecr.azurecr.io/albatroz-nginx:latest || true

      - name: Build and push Nginx Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-nginx:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-nginx:latest ./nginx
          docker push kishorecr.azurecr.io/albatroz-nginx:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-nginx:latest

      - name: List Nginx Docker image
        run: |
          echo "Nginx Docker image:"
          docker images kishorecr.azurecr.io/albatroz-nginx:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"
          docker images kishorecr.azurecr.io/albatroz-nginx:latest --format "repository:tag: {{.Repository}}:{{.Tag}}"

  build_nginx_proxy:
    needs: setup
    runs-on: self-hosted
    if: (github.event.inputs.image == 'all' || github.event.inputs.image == 'nginx-proxy' || github.event_name == 'push' || github.event_name == 'repository_dispatch')
    outputs:
      completed: ${{ needs.setup.outputs.completed }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }} 

      - name: Delete old Nginx Proxy Docker image
        run: |
          docker login kishorecr.azurecr.io --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }}
          docker image rm kishorecr.azurecr.io/albatroz-nginx-proxy:latest || true

      - name: Build and push Nginx Proxy Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-nginx-proxy:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-nginx-proxy:latest ./nginx-proxy
          docker push kishorecr.azurecr.io/albatroz-nginx-proxy:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-nginx-proxy:latest

      - name: List Nginx Proxy Docker image
        run: |
          echo "Nginx Proxy Docker image:"
          docker images kishorecr.azurecr.io/albatroz-nginx-proxy:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"
          docker images kishorecr.azurecr.io/albatroz-nginx-proxy:latest --format "repository:tag: {{.Repository}}:{{.Tag}}"

  build_letsencrypt:
    needs: setup
    runs-on: self-hosted
    if: (github.event.inputs.image == 'all' || github.event.inputs.image == 'letsencrypt' || github.event_name == 'push' || github.event_name == 'repository_dispatch')
    outputs:
      completed: ${{ needs.setup.outputs.completed }}
    steps:
      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }} 

      - name: Delete old LetsEncrypt Docker image
        run: |
          docker login kishorecr.azurecr.io --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }}
          docker image rm kishorecr.azurecr.io/albatroz-letsencrypt:latest || true

      - name: Build and push LetsEncrypt Docker image
        run: |
          docker build -t kishorecr.azurecr.io/albatroz-letsencrypt:${{ needs.setup.outputs.version }} -t kishorecr.azurecr.io/albatroz-letsencrypt:latest ./letsencrypt
          docker push kishorecr.azurecr.io/albatroz-letsencrypt:${{ needs.setup.outputs.version }}
          docker push kishorecr.azurecr.io/albatroz-letsencrypt:latest  

      - name: List LetsEncrypt Docker image
        run: |
          echo "LetsEncrypt Docker image:"
          docker images kishorecr.azurecr.io/albatroz-letsencrypt:${{ needs.setup.outputs.version }} --format "repository:tag: {{.Repository}}:{{.Tag}}"
          docker images kishorecr.azurecr.io/albatroz-letsencrypt:latest --format "repository:tag: {{.Repository}}:{{.Tag}}"

  deploy:
    needs: [build_backend, build_frontend, build_nginx, build_nginx_proxy, build_letsencrypt]
    if: ${{ (github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main') && (github.event.inputs.image == 'all' || github.event.inputs.image == 'frontend_code' || github.event.inputs.image == 'backend_code' || github.event_name == 'push' || github.event_name == 'repository_dispatch') }}
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.STAGE_SSH_KEY }}

      - name: Deploy
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.STAGE_USER }}@${{ secrets.STAGE_HOST }} <<EOF
            cd albatroz-admin-angular-node
            docker login kishorecr.azurecr.io --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }}
            docker pull kishorecr.azurecr.io/albatroz-backend_code:latest
            docker pull kishorecr.azurecr.io/albatroz-frontend_code:latest
            docker pull kishorecr.azurecr.io/albatroz-nginx:latest
            docker pull kishorecr.azurecr.io/albatroz-nginx-proxy:latest
            docker pull kishorecr.azurecr.io/albatroz-letsencrypt:latest
            docker-compose -f docker-compose.stage.yaml up -d --force-recreate
          EOF
