name: Docker Image CI

on:
  push:
    branches:
      - dev
      - stage
      - main
      - master
  repository_dispatch:
    types: [build]
  workflow_dispatch:
    inputs:
      image:
        description: 'Which image to build (all, backend_code, frontend_code, nginx, nginx-proxy, letsencrypt)'
        required: true
        default: 'all'

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          repository: 'thatdevopsguyy/albatroz-admin-angular-node'
          ref: ${{ github.event.client_payload.sha }}

      - name: Get semantic version
        id: semver
        run: echo "SEMVER=$(git rev-list --count HEAD).0.0" >> $GITHUB_ENV

      - name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: kishorecr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker images
        run: |
          images_to_build=(${{ github.event.inputs.image }})
          if [[ "${images_to_build[0]}" == "all" ]]; then
            images_to_build=(backend_code frontend_code nginx nginx-proxy letsencrypt)
          fi
          for image_name in "${images_to_build[@]}"
          do
            docker build -t kishorecr.azurecr.io/albatroz-$image_name:${{ env.SEMVER }} -t kishorecr.azurecr.io/albatroz-$image_name:latest ./$image_name
            docker push kishorecr.azurecr.io/albatroz-$image_name:${{ env.SEMVER }}
            docker push kishorecr.azurecr.io/albatroz-$image_name:latest
          done

      - name: List images pushed
        run: |
          echo "Images pushed to registry:"
          docker images kishorecr.azurecr.io/albatroz-* --format "repository:tag: {{.Repository}}:{{.Tag}}" | sort
